@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box; /*doesn't affect width when adding padding or border to an element */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex; /*To center everything */
  align-items: center; /*horizontal axis*/
  justify-content: center; /*vertical axis*/
  height: 100vh;
  overflow: hidden; /*no scrollbars by default*/
  margin: 0;
}

.container {
  display: flex;
}
